{{ if eq .chezmoi.os "linux" -}}
#!/bin/sh
curl -sS https://raw.githubusercontent.com/ajeetdsouza/zoxide/main/install.sh | bash
sudo apt install fzf
sudo apt install fd-find
ln -s $(which fdfind) ~/.local/bin/fd
{{ else if eq .chezmoi.os "darwin" -}}
#!/bin/sh
brew install zoxide
brew install fzf
brew install fd
{{ end -}}
